@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

div {
  border: white 1px solid;
}

a {
  font-size: 24px;
  font-weight: bolder;
  /* color: #ffffff; */
  text-decoration: inherit;
}
a:hover {
  /* color: #000000; */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 90vw;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#ScoreDiv{
  display: flex;
  height: 50px;
  width: 200px;
  top: 50px;
  position: absolute;
  font-weight: bold;
  font-family: Nunito;
  z-index: 10;
  color: black;
  font-size: 3rem;
  text-align: center;
  justify-content: center;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

#Player1{
  display: flex;
  justify-content: center;
  margin-right: 10%;
}

#Player2{
  display: flex;
  justify-content: center;
  margin-left: 10%;
}

#Player1Nick{
  display: flex;
  white-space: nowrap;
  justify-content: center;
  margin-right: 50%;
}

#Player2Nick{
  display: flex;
  white-space: nowrap;
  justify-content: center;
  margin-left: 50%;
}

#WinMsg{
  position: absolute;
  width: 50%;
  height: 30%;
  top: calc(30% - 60px);
  font-size: 80px;
  font-weight: bold;
  font-family: Nunito,sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  display: none;
  white-space: nowrap;
}

button{
  padding:10px;
  border-radius: 20px;
  border:none;
  background-color: #15814e;
  color:white;
  font-weight: 900;
  margin:auto;
  cursor:pointer

}
button:hover{
  background-color:#20c076 ;
}

/* button {
  /* border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s; */
/* } */
/* button:hover {
  /* border-color: #646cff; */
/* } */

button:focus,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
}

@media (prefers-color-scheme: light) {
  :root {
    /* color: #213547;
    background-color: #ffffff; */
  }
  a:hover {
    /* color: #747bff; */
  }
  button {
    /* background-color: #f9f9f9; */
  }
}
