@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .trapezoid-shape {
    @apply relative bg-white;
    border-top-right-radius: 12px;
    clip-path: polygon(59% 0, 74% 0, 78% 1%, 79% 1%, 81% 3%, 83% 8%, 83% 9%, 100% 100%, 0 100%, 0 0);
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #797979;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
  color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  
}

div {
  /* border: rgb(171, 171, 171) 1px solid; */
}

a {
  font-size: 24px;
  font-weight: bolder;
  /* color: #ffffff; */
  text-decoration: inherit;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


#app {

  width: 100%;
  height: 100%;
  /* text-align: center; */
  background-color: #ffffff;

}

#localGameDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  #ScoreDiv {
    display: flex;
    height: 80px;
    width: 60%;
    font-weight: bold;
    font-family: Nunito;
    color: black;
    font-size: 3rem;
    text-align: center;
    justify-content: space-around;

    border: 1px solid rgb(117, 177, 255);

    p {
      border: 1px solid rgb(117, 177, 255);

    }
  }
  
  canvas {
    width: 90%;
    height: 90%;

    border: 1px solid rgb(117, 177, 255);

  }
  
  #ResultView {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
 
    #WinMsg {
      display: block;
      font-family: "Inria Sans";
      font-size: 100px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
  
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      #WinImageBox {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        min-width: 20rem;
        min-height: 10rem;
  
        img {
          width: auto;
          height: 100%;
        }
      }
    }
  
    #backBtn {
      position: absolute;
      bottom: 1.5rem;
      right: 1.5rem;
  
      #BackIcon {
        width: 2rem;
        height: 2rem;
      }
    }
  }
  
  
  button{
    padding:10px;
    border-radius: 20px;
    border:none;
    background-color: #15814e;
    color:white;
    font-weight: 900;
    margin:auto;
    cursor:pointer
  
  }
  button:hover{
    background-color:#20c076 ;
  }

}


/* button {
  /* border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s; */
/* } */
/* button:hover {
  /* border-color: #646cff; */
/* } */

button:focus,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
}

@media (prefers-color-scheme: light) {
  :root {
    /* color: #213547;
    background-color: #ffffff; */
  }
  a:hover {
    /* color: #747bff; */
  }
  button {
    /* background-color: #f9f9f9; */
  }
}
